h1 {
    color: azure;
}
div.hope {
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 100px 100px;
    flex-direction: column;
}
.header {
    background-color: red;
    display:grid;
    grid-template-columns: 100px 100px;
   
}
body {
    /* background-color: blue; */
    background-image: url('./man-gym.jpg');
}
label{
    color: azure;
}
h2{
    color: azure;
}
